
/* 단행본 배지 */

.card-thumb-wrap{
position:relative;
}

.type-badge{
position:absolute;
left:10px;
bottom:10px;
background:#00a99d;
color:white;
font-size:12px;
font-weight:600;
padding:4px 8px;
border-radius:6px;
}
